---
---
/* styles for Ed Keith's Resume */

/*
 * Responsive text aligning
 * http://ohryan.ca/2014/08/14/set-responsive-text-alignment-bootstrap-3/
 */
.text-xs-left { text-align: left; }
.text-xs-right { text-align: right; }
.text-xs-center { text-align: center; }
.text-xs-justify { text-align: justify; }

@media (min-width: 768px) {
  .text-sm-left { text-align: left; }
  .text-sm-right { text-align: right; }
  .text-sm-center { text-align: center; }
  .text-sm-justify { text-align: justify; }
}

@media (min-width: 992px) {
  .text-md-left { text-align: left; }
  .text-md-right { text-align: right; }
  .text-md-center { text-align: center; }
  .text-md-justify { text-align: justify; }
}

@media (min-width: 1200px) {
  .text-lg-left { text-align: left; }
  .text-lg-right { text-align: right; }
  .text-lg-center { text-align: center; }
  .text-lg-justify { text-align: justify; }
}


body {
    padding: 50px 0 0 0;
    color: #000080;
    background:Azure;
}
.pos .ph {

  font-weight: bold;
  font-size: 150%;
  font-family: serif;
}

.panel-title a{
    text-decoration:none;
}

.emptitle {
    text-align: left;
}


#education div.panel-body > div.row:nth-child(even) {
 background:Whitesmoke;
}
.employer {
    text-align: center;
}

.empdates {
    text-align: right;
}
/*
.class{
    text-align: left;
}
*/
.institute {
    text-align: right;
    align-items: center; 
    vertical-align: middle;
}

.courseunit{
 /* background:red; */
 margin:  0px 0px 0px 15px;
 padding: 0px 0px 0px 15px;
 /* color:green; */
}

footer{
  background:Beige;
}
.offscreen
{
position: absolute;
clip: rect(1px 1px 1px 1px); /* for Internet Explorer */
clip: rect(1px, 1px, 1px, 1px);
padding: 0;
border: 0;
height: 1px;
width: 1px;
overflow: hidden;
}

h3.panel-heading {
  margin:0;
}

blockquote p{
  color: black;
  font-style: italic;
  quotes: "“" "”";
  
}
blockquote p:before{
    content: open-quote;
}


blockquote p:after{
    content: close-quote;
}
blockquote footer{
   background:Azure;
}

.tagline {
 magin-top: 1em;
 padding-top: 1em;
}

.name{
  margin-top:1px;
  padding-top:1px;
  padding-left:0.5em;
}
/*
.vbottom {
 position:relative; 
}
.vtop {
 position:relative;
}


.vbottom p {
  display: table-cell;
  vertical-align: text-bottom;
  position:absolute; 
  top:90%; 
  height:10em; 
  margin-top:-15px;
  color: red;
}

.vtop h1{
  display: table-cell;
  vertical-align: text-top;
  position:absolute; 
  top:0%; 
  height:0em; 
  margin-top:-50px;
  color: green;
}
.vcenter{
  display: table-cell;
  vertical-align: middle;
  position:absolute; 
  top:50%; 
  height:10em; 
  margin-top:-5em;
}
*/


.navbar-inverse {
     background: #303F9F;
}

.navbar-inverse .navbar-nav > .active > a,
.navbar-inverse .navbar-nav > .active > a:hover,
.navbar-inverse .navbar-nav > .active > a:focus {
    color: #fff;
    background: #1A237E;
}

.navbar-inverse .navbar-nav > .open > a,
 .navbar-inverse .navbar-nav > .open > a:hover,
 .navbar-inverse .navbar-nav > .open > a:focus {
    color: #fff;
    background: #1A237E;
}

.navbar-inverse .navbar-nav .open .dropdown-menu> li> a,
.navbar-inverse .navbar-nav .open .dropdown-menu {
    background-color: #303F9F;
    color:#eeeeee;
}

.navbar-inverse .navbar-nav .open .dropdown-menu> li> a:hover {
    color:#000000;
}


