<div id='{{ tag }}' class='panel panel-default'>
    <div class='panel-heading'>
	<h4 class='panel-title'>
	    <a data-toggle='collapse' 
	       data-parent='#ed-accordion' 
	       href='#{{ tag }}moocs'>
		{{ ptitle | escape }}
	    </a>
	</h4>
    </div>
    <div id='{{ tag }}moocs' class='panel-collapse collapse'>
	<div class='panel-body'>
	    {% assign moocs = site.data.moocs | where: "tag", tag %}
	    {% for c in moocs %} 
		<div class='row p-education'>
		    <div class='col-sm-6 text-sm-left text-xs-center class p-name'>
                        {% if c.url %}
                            <a href="{{c.url}}" target="_blank">{{ c.course | escape }}</a>
                        {% else %}
			    {{ c.course | escape }}
                        {% endif %}
			{% for s in c.units %}
                            {% if s.url %}
				<p class='courseunit'><a href="{{s.url}}" target="_blank">{{ s.name | escape }}</a></p>
                            {% else %}
				<p class='courseunit'>{{ s.name | escape }}</p>
                            {% endif %}
			{% endfor %}
		    </div>
                    <!-- add date as 'dt-start' -->
		    <div class='hidden-xs col-sm-6  institute p-location'>
			{{ c.institute | escape }}
		    </div>
		</div>
	    {% endfor %}
	</div>
    </div>
</div> <!-- {{ ptitle }} MOOCs tab -->

