<!-- div class='container-fluid' -->
   {% include resheader.html %}
  
<div class='container-fluid'>
    <div class="tab-content h-resume">
      <!-- div class='p-summary' -->
        {% include reshealthobj.html %}

        {% include reshealthqual.html %}
      <!-- /div -->
        {% include reshealthbio.html %}

        {% include resemp.html %}

        {% include resedu.html %}

        {% include rescontact.html %}

        {% include reslang.html %}

        {% include resplatform.html %}

	<!-- section id="technologies" class="tab-pane fade">
	<h2>Technologies</h2>
	<p>Some content in menu 2.</p>
	</section -->

    </div>
</div>

<footer class="container-fluid text-right">
    <p>Copyright &copy; Ed Keith 2016 - 2018 all rights reserved.</p> 
</footer>
