<section id="contact" class="tab-pane fade">
    <h2>Contact Information</h2>

    <address class="vcard">
    <!-- 
    Note: this is the proper use of the address tag as
    Ed Keith is responsible for maintaining this web page.
    -->
    <p class="adr">

	<span class="fn">
	    <!-- a class="url" href="#" -->
	    <span class="given-name">Ed</span> <span class="family-name">Keith</span>
	    <!-- /a -->
	</span>
	<br>
	<span class="post-office-box">P.O. Box 750010</span><br>
	<span class='locality'>Arlington</span>
	<span class="region">MA</span>
	<span class="postal-code">02475-0010</span><br>
	<span class="country-name">U.S.A.</span>
	<br>
	<a class="email" href="mailto:edkeith@inbox.com">
	    <span class="type">pref</span><span>erred email: edkeith@inbox.com</span>
	</a>
	<br>
	<span class="tel">1(781)641-2519</span>
    </address>
</section>

