<section id="education" class="tab-pane fade" >
	    <!-- div class="comtainer" -->
		<h2>Education</h2>
		<p>I was awarded a BA in Math &amp; Philosophy by SUNY Potsdam in 1984</p>
		<p>I studied Cognitive Neural Systems At Boston University in 1995, but did not
		complete the degree program.</p>
		<h3>Massive Open Online Classes (MOOCs)</h3>
	
		<div id="ed-accordion" class="panel-group">

		    <div id='med' class='panel panel-default'>
			<div class='panel-heading'>
			    <h4 class='panel-title'>
				<a data-toggle='collapse' 
				   data-parent='#ed-accordion' 
				   href='#medmoocs'>
				    Health &amp; Medicine
				</a>
			    </h4>
			</div>
			<div id='medmoocs' class='panel-collapse collapse'>
			    <div class='panel-body'>
				<div class='row'>
				    <div class='col-sm-6 class'>
					Health Informatics in the Cloud
				    </div>
				    <div class='col-sm-6 institute'>
					Coursera / Georgia Institute Of Technology
				    </div>
				</div>
				<div class='row'>
				    <div class='col-sm-6 class'>
					Health Informatics on FHIR
				    </div>
				    <div class='col-sm-6 institute'>
					Coursera / Georgia Institute Of Technology
				    </div>
				</div>
				<div class='row'>
				    <div class='col-sm-6 class'>
					Interprofessional Healthcare Informatics
				    </div>
				    <div class='col-sm-6 institute'>
					Coursera / University Of Minnesota
				    </div>
				</div>
				<div class='row'>
				    <div class='col-sm-6 class'>
					Data Management for Clinical Research
				    </div>
				    <div class='col-sm-6 institute'>
					Coursera / Vanderbilt University
				    </div>
				</div>		
				<div class='row'>
				    <div class='col-sm-6 class'>
					MedDigX: Medicine in the Digital Age
				    </div>
				    <div class='col-sm-6 institute'>
					RiceX
				    </div>
				</div>		
				<div class='row'>
				    <div class='col-sm-6 class'>
					Fundamentals of Pharmacology
				    </div>
				    <div class='col-sm-6 institute'>
					Coursera /  University Of Pennsylvania
				    </div>
				</div>		
				<div class='row'>
				    <div class='col-sm-6 class'>
					BIOIMG101x: Introduction to Biomedical Imaging
				    </div>
				    <div class='col-sm-6 institute'>
					UQx
				    </div>
				</div>		
				<div class='row'>
				    <div class='col-sm-6 class'>
					Statistical Analysis of fMRI Data
				    </div>
				    <div class='col-sm-6 institute'>
					Coursera / Johns Hopkins University
				    </div>
				</div>
				<div class='row'>
				    <div class='col-sm-6 class'>
					Principles of fMRI 1 &amp; 2
				    </div>
				    <div class='col-sm-6 institute'>
					Coursera / Johns Hopkins University
				    </div>
				</div>
				<div class='row'>
				    <div class='col-sm-6 class'>
					Virology I: How Viruses Work
				    </div>
				    <div class='col-sm-6 institute'>
					Coursera / Columbia University	
				    </div>
				</div>		
				<div class='row'>
				    <div class='col-sm-6 class'>
					How Viruses Cause Disease
				    </div>
				    <div class='col-sm-6 institute'>
					Coursera /  Columbia University
				    </div>
				</div>		
				<div class='row'>
				    <div class='col-sm-6 class'>
					Bacteria and Chronic Infections
				    </div>
				    <div class='col-sm-6 institute'>
					Coursera / University of Copenhagen
				    </div>
				</div>		
				<div class='row'>
				    <div class='col-sm-6 class'>
					PHLX101-01: Introduction to Bioethics
				    </div>
				    <div class='col-sm-6 institute'>
					GeorgetownX
				    </div>
				</div>		
				<div class='row'>
				    <div class='col-sm-6 class'>
					The Science of Safety in Healthcare
				    </div>
				    <div class='col-sm-6 institute'>
					Coursera / Johns Hopkins University
				    </div>
				</div>		
				<div class='row'>
				    <div class='col-sm-6 class'>
					BIOC372.1x: Fundamentals of Immunology Part 1
				    </div>
				    <div class='col-sm-6 institute'>
					RiceX
				    </div>
				</div>		
				<div class='row'>
				    <div class='col-sm-6 class'>
					Circadian clocks: how rhythms structure life
				    </div>
				    <div class='col-sm-6 institute'>
					Coursera / Ludwig-Maximilians-Universität München
				    </div>
				</div>		
				<div class='row'>
				    <div class='col-sm-6 class'>
					Nutrition and Physical Activity for Health
				    </div>
				    <div class='col-sm-6 institute'>
					Coursera / University Of Pittsburgh
				    </div>
				</div>
				<div class='row'>
				    <div class='col-sm-6 class'>
					Exercise Physiology: Understanding the Athlete Within
				    </div>
				    <div class='col-sm-6 institute'>
					Coursera / University Of Melbourne
				    </div>
				</div>		
				<div class='row'>
				    <div class='col-sm-6 class'>
					Going Out on a Limb: The Anatomy of the Upper Limb
				    </div>
				    <div class='col-sm-6 institute'>
					Coursera / University Of Pennsylvania
				    </div>
				</div>		
				<div class='row'>
				    <div class='col-sm-6 class'>
					CHEM181x: Food for Thought
				    </div>
				    <div class='col-sm-6 institute'>
					McGillX
				    </div>
				</div>		
				<div class='row'>
				    <div class='col-sm-6 class'>
					Vital Signs: Understanding What the Body Is Telling Us
				    </div>
				    <div class='col-sm-6 institute'>
					Coursera / University Of Pennsylvania
				    </div>
				</div>		
				<div class='row'>
				    <div class='col-sm-6 class'>
					Preventing Chronic Pain: A Human Systems Approach
				    </div>
				    <div class='col-sm-6 institute'>
					Coursera / University Of Minnesota
				    </div>
				</div>		
				<div class='row'>
				    <div class='col-sm-6 class'>
					Introduction to Urology
				    </div>
				    <div class='col-sm-6 institute'>
					KIx
				    </div>
				</div>		
				<div class='row'>
				    <div class='col-sm-6 class'>
					Introduction to the Science of Cancer
				    </div>
				    <div class='col-sm-6 institute'>
					Coursera / The Ohio State University
				    </div>
				</div>
				<div class='row'>
				    <div class='col-sm-6 class'>
					Antimicrobial Stewardship: Optimization of Antibiotic Practices
				    </div>
				    <div class='col-sm-6 institute'>
					Coursera / Stanford
				    </div>
				</div>
				<div class='row'>
				    <div class='col-sm-6 class'>
					Acute and Chronic Rhinosinusitis: A Comprehensive Review
				    </div>
				    <div class='col-sm-6 institute'>
					Coursera / Icahn School of Medicine at Mount Sinai
				    </div>
				</div>
                            </div>
			</div>
		    </div> <!-- medical MOOCs tab -->


		    <div id='gene' class='panel panel-default'>
			<div class='panel-heading'>
			    <h4 class='panel-title'>
				<a data-toggle='collapse' 
				   data-parent='#ed-accordion' 
				   href='#genemoocs'>
				    Molecular Biology, Genetics, &amp; Bioinformatics
				</a>
			    </h4>
			</div>
			<div id='genemoocs' class='panel-collapse collapse'>
			    <div class='panel-body'>
				<div class='row'>
				    <div class='col-sm-6 class'>
					Genes and the Human Condition (From Behavior to Biotechnology)
				    </div>
				    <div class='col-sm-6 institute'>
					Coursera / University Of Maryland, College Park		
				    </div>
				</div>		
				<div class='row'>
				    <div class='col-sm-6 class'>
					Useful Genetics
				    </div>
				    <div class='col-sm-6 institute'>
					Coursera / University Of British Columbia		
				    </div>
				</div>		
				<div class='row'>
				    <div class='col-sm-6 class'>
					Epigenetic Control of Gene Expression
				    </div>
				    <div class='col-sm-6 institute'>
					Coursera / University Of Melbourne
				    </div>
				</div>		
				<div class='row'>
				    <div class='col-sm-6 class'>
					Computational Molecular Evolution
				    </div>
				    <div class='col-sm-6 institute'>
					Coursera / Technical University Of Denmark
				    </div>
				</div>		
				<div class='row'>
				    <div class='col-sm-6 class'>
					DNA - From Structure to Therapy
				    </div>
				    <div class='col-sm-6 institute'>
					Iversity / Jacobs University Bremen	
				    </div>
				</div>
				<div class='row'>
				    <div class='col-sm-6 class'>
					BIOC300.2x DNA: Biology's Genetic Code
				    </div>
				    <div class='col-sm-6 institute'>
					RiceX
				    </div>
				</div>
				<div class='row'>
				    <div class='col-sm-6 class'>
					Introduction to Human Behavioral Genetics
				    </div>
				    <div class='col-sm-6 institute'>
					Coursera / University Of Minnesota
				    </div>
				</div>		
				<div class='row'>
				    <div class='col-sm-6 class'>
					Introduction to Genomic Technologies
				    </div>
				    <div class='col-sm-6 institute'>
					Coursera / Johns Hopkins University
				    </div>
				</div>		
				<div class='row'>
				    <div class='col-sm-6 class'>
					Genomic Data Science with Galaxy
				    </div>
				    <div class='col-sm-6 institute'>
					Coursera / Johns Hopkins University
				    </div>
				</div>		
				<div class='row'>
				    <div class='col-sm-6 class'>
					7.28 Molecular Biology
					<p class='courseunit'>.1x DNA Replication and Repair</p>
					<p class='courseunit'>.2x Transcription and Transposition</p>
				    </div>
				    <div class='col-sm-6 institute'>
					MITx
				    </div>
				</div>
				<div class='row'>
				    <div class='col-sm-6 class'>
					BIOC300.1x: Proteins: Biology's Workforce
				    </div>
				    <div class='col-sm-6 institute'>
					RiceX
				    </div>
				</div>		
				<div class='row'>
				    <div class='col-sm-6 class'>
					Bioinformatics: Introduction and Methods 生物信息学: 导论与方法
				    </div>
				    <div class='col-sm-6 institute'>
					Coursera / Peking University
				    </div>
				</div>
				<div class='row'>
				    <div class='col-sm-6 class'>
					Bioinformatics: Genomes and Algorithms
				    </div>
				    <div class='col-sm-6 institute'>
					Inria / France Universite Numerique (FUN)
				    </div>
				</div>
				<div class='row'>
				    <div class='col-sm-6 class'>
					Bioinformatic Methods I
				    </div>
				    <div class='col-sm-6 institute'>
					Coursera / University Of Toronto
				    </div>
				</div>		
				<div class='row'>
				    <div class='col-sm-6 class'>
					Programmed Cell Death
				    </div>
				    <div class='col-sm-6 institute'>
					Coursera / Ludwig-Maximilians-Universität München 
				    </div>
				</div>		
                            </div>
			</div>
		    </div> <!-- gene MOOCs tab -->




		    <div id='neuro' class='panel panel-default'>
			<div class='panel-heading'>
			    <h4 class='panel-title'>
				<a data-toggle='collapse' 
				   data-parent='#ed-accordion' 
				   href='#neuromoocs'>
				    Neuroscience &amp; Cognitive Science
				</a>
			    </h4>
			</div>
			<div id='neuromoocs' class='panel-collapse collapse'>
			    <div class='panel-body'>
				<div class='row'>
				    <div class='col-sm-6 class'>
					Drugs and the Brain
				    </div>
				    <div class='col-sm-6 institute'>
					Coursera / California Institute Of Technology
				    </div>
				</div>		
				<div class='row'>
				    <div class='col-sm-6 class'>
					MCB80: Fundamentals of Neuroscience, 
					<p class='courseunit'>Part I: The Electrical Properties of the Neuron</p>
					<p class='courseunit'>Part II: Neurons and Networks</p>
				    </div>
				    <div class='col-sm-6 institute'>
					HarvardX
				    </div>
				</div>		
				<div class='row'>
				    <div class='col-sm-6 class'>
					Introduction to Clinical Neurology
				    </div>
				    <div class='col-sm-6 institute'>
					Coursera / University Of California, San Francisco
				    </div>
				</div>		
				<div class='row'>
				    <div class='col-sm-6 class'>
					Medical Neuroscience
				    </div>
				    <div class='col-sm-6 institute'>
					Coursera / Duke University Medical School						
				    </div>
				</div>		
				<div class='row'>
				    <div class='col-sm-6 class'>
					Understanding the Brain: The Neurobiology of Everyday Life
				    </div>
				    <div class='col-sm-6 institute'>
					Coursera / University Of Chicago
				    </div>
				</div>		
				<div class='row'>
				    <div class='col-sm-6 class'>
					The Addicted Brain
				    </div>
				    <div class='col-sm-6 institute'>
					Coursera / Emory University
				    </div>
				</div>		
				<div class='row'>
				    <div class='col-sm-6 class'>
					Introduction to Neuroeconomics: how the brain makes decisions
				    </div>
				    <div class='col-sm-6 institute'>
					Coursera / The Higher School Of Economics
				    </div>
				</div>		
				<div class='row'>
				    <div class='col-sm-6 class'>
					The Bilingual Brain
				    </div>
				    <div class='col-sm-6 institute'>
					Coursera / University of Houston
				    </div>
				</div>		
				<div class='row'>
				    <div class='col-sm-6 class'>
					Computational Neuroscience
				    </div>
				    <div class='col-sm-6 institute'>
					Coursera / University of Washington
				    </div>
				</div>		
				<div class='row'>
				    <div class='col-sm-6 class'>
					The Brain and Space
				    </div>
				    <div class='col-sm-6 institute'>
					Coursera / Duke University
				    </div>
				</div>		
				<div class='row'>
				    <div class='col-sm-6 class'>
					Visual Perception and the Brain
				    </div>
				    <div class='col-sm-6 institute'>
					Coursera / Duke University
				    </div>
				</div>		
				<div class='row'>
				    <div class='col-sm-6 class'>
					BrainX Cellular mechanisms of brain function
				    </div>
				    <div class='col-sm-6 institute'>
					EPFLx
				    </div>
				</div>
				<div class='row'>
				    <div class='col-sm-6 class'>
					Synapses, Neurons and Brains
				    </div>
				    <div class='col-sm-6 institute'>
					Coursera / Hebrew University		
				    </div>
				</div>		
				<div class='row'>
				    <div class='col-sm-6 class'>
					GG101x: The Science of Happiness
				    </div>
				    <div class='col-sm-6 institute'>
					BerkeleyX
				    </div>
				</div>
				<div class='row'>
				    <div class='col-sm-6 class'>
					Sleep: Neurobiology, Medicine, and Society
				    </div>
				    <div class='col-sm-6 institute'>
					Couresra / University of Michigan Medical School
				    </div>
				</div>		
				<div class='row'>
				    <div class='col-sm-6 class'>
					Introduction to Light, Color, and Life
				    </div>
				    <div class='col-sm-6 institute'>
					Coursera / Korea Advanced Institute Of Science And Technology
				    </div>
				</div>		
                            </div>
			</div>
		    </div> <!-- neuro MOOCs tab -->
		     <div id='compsci' class='panel panel-default'>
                        <div class='panel-heading'>
			    <h4 class='panel-title'>
				<a data-toggle='collapse' 
				   data-parent='#ed-accordion' 
				   href='#progmoocs'>
				    Computer Science &amp; Programming
				</a>
			    </h4>
			</div>
                        <div id='progmoocs' class='panel-collapse collapse'>
			    <div class='panel-body'>

				<div class='row'>
				    <div class='col-sm-6 class'>
					Heterogeneous Parallel Programming
				    </div>
				    <div class='col-sm-6 institute'>
					Coursera / The University Of Illinois At Urbana-Champaign
				    </div>
				</div>		
				<div class='row'>
				    <div class='col-sm-6 class'>
					Image and video processing: From Mars to Hollywood with a stop at the hospital
				    </div>
				    <div class='col-sm-6 institute'>
					Coursera / Duke University
				    </div>
				</div>
				<div class='row'>
				    <div class='col-sm-6 class'>
					Automata
				    </div>
				    <div class='col-sm-6 institute'>
					Coursera / Stanford
				    </div>
				</div>
				<div class='row'>
				    <div class='col-sm-6 class'>
					Introduction to Logic
				    </div>
				    <div class='col-sm-6 institute'>
					Coursera / Stanford
				    </div>
				</div>
				<div class='row'>
				    <div class='col-sm-6 class'>
					Compilers
				    </div>
				    <div class='col-sm-6 institute'>
					Coursera / Stanford
				    </div>
				</div>
				<div class='row'>
				    <div class='col-sm-6 class'>
					Functional Programming Principles in Scala
				    </div>
				    <div class='col-sm-6 institute'>
					Coursera / The Ecole Polytechnique Federale De Lausanne
				    </div>
				</div>
				<div class='row'>
				    <div class='col-sm-6 class'>
					Introduction to Systematic Program Design - Part 1
				    </div>
				    <div class='col-sm-6 institute'>
					Coursera / University Of British Columbia
				    </div>
				</div>
				<div class='row'>
				    <div class='col-sm-6 class'>
					Digital Signal Processing
				    </div>
				    <div class='col-sm-6 institute'>
					Coursera / Ecole Polytechnique Fédérale De Lausanne
				    </div>
				</div>
				<div class='row'>
				    <div class='col-sm-6 class'>
					Human-Computer Interaction
				    </div>
				    <div class='col-sm-6 institute'>
					Coursera / University Of California, San Diego
				    </div>
				</div>
				<div class='row'>
				    <div class='col-sm-6 class'>
					Usable Security
				    </div>
				    <div class='col-sm-6 institute'>
					Coursera / University Of Maryland, College Park
				    </div>
				</div>
				<div class='row'>
				    <div class='col-sm-6 class'>
					R Programming
				    </div>
				    <div class='col-sm-6 institute'>
					Coursera / Johns Hopkins University
				    </div>
				</div>
				<div class='row'>
				    <div class='col-sm-6 class'>
					Introduction to Programming with MATLAB
				    </div>
				    <div class='col-sm-6 institute'>
					Coursera / Vanderbilt University
				    </div>
				</div>
                            </div>
                        </div>
		    </div>

		     <div id='se' class='panel panel-default'>
                        <div class='panel-heading'>
			    <h4 class='panel-title'>
				<a data-toggle='collapse' 
				   data-parent='#ed-accordion' 
				   href='#semoocs'>
				    Software Engineering, Business Analysis &amp; Project Management
				</a>
			    </h4>
			</div>
                        <div id='semoocs' class='panel-collapse collapse'>
			    <div class='panel-body'>

				<div class='row'>
				    <div class='col-sm-6 class'>
					AV102 ESaaS – Managing Distributed Teams
				    </div>
				    <div class='col-sm-6 institute'>
					Agile Ventures / Hawaii Pacific University / UC Berkeley
				    </div>
				</div>
				<div class='row'>
				    <div class='col-sm-6 class'>
					Introduction to Software Product Management
				    </div>
				    <div class='col-sm-6 institute'>
					Coursera / University of Alberta
				    </div>
				</div>
				<div class='row'>
				    <div class='col-sm-6 class'>
					Fundamentals of Project Planning and Management
				    </div>
				    <div class='col-sm-6 institute'>
					Coursera / Darden School of Business University of Virginia
				    </div>
				</div>
				<div class='row'>
				    <div class='col-sm-6 class'>
					Risk and Opportunity: Managing Risk for Development
				    </div>
				    <div class='col-sm-6 institute'>
					Coursera / The World Bank
				    </div>
				</div>
				<div class='row'>
				    <div class='col-sm-6 class'>
					Introduction to Systems Engineering
				    </div>
				    <div class='col-sm-6 institute'>
					Coursera / UNSW Australia
				    </div>
				</div>
				<div class='row'>
				    <div class='col-sm-6 class'>
					An Introduction to Operations Management
				    </div>
				    <div class='col-sm-6 institute'>
					Coursera / University Of Pennsylvania
				    </div>
				</div>
				<div class='row'>
				    <div class='col-sm-6 class'>
					Organizational Analysis	
				    </div>
				    <div class='col-sm-6 institute'>
					Coursera / Stanford
				    </div>
				</div>
			    </div>
                        </div>
		    </div>


		     <div id='wmc' class='panel panel-default'>
                        <div class='panel-heading'>
			    <h4 class='panel-title'>
				<a data-toggle='collapse' 
				   data-parent='#ed-accordion' 
				   href='#wmcmoocs'>
				    Web, Mobile &amp; Cloud Development
				</a>
			    </h4>
			</div>
                        <div id='wmcmoocs' class='panel-collapse collapse'>
			    <div class='panel-body'>

				<div class='row'>
				    <div class='col-sm-6 class'>
					Creative, Serious and Playful Science of Android Apps
				    </div>
				    <div class='col-sm-6 institute'>
					Coursera / University Of Illinois At Urbana-Champaign
				    </div>
				</div>
				<div class='row'>
				    <div class='col-sm-6 class'>
					Creative Programming for Digital Media &amp; Mobile Apps
				    </div>
				    <div class='col-sm-6 institute'>
					Coursera / University Of London
				    </div>
				</div>
				<div class='row'>
				    <div class='col-sm-6 class'>
					Programming Cloud Services for Android Handheld Systems
				    </div>
				    <div class='col-sm-6 institute'>
					Coursera / Vanderbilt University
				    </div>
				</div>
				<div class='row'>
				    <div class='col-sm-6 class'>
					Web Application Architectures
				    </div>
				    <div class='col-sm-6 institute'>
					Coursera / University Of New Mexico
				    </div>
				</div>
				<div class='row'>
				    <div class='col-sm-6 class'>
					Learn HTML5 from W3C
				    </div>
				    <div class='col-sm-6 institute'>
					W3Cx
				    </div>
				</div>
				<div class='row'>
				    <div class='col-sm-6 class'>
					Introduction to HTML5
				    </div>
				    <div class='col-sm-6 institute'>
					Coursera /  University of Michigan
				    </div>
				</div>
				<div class='row'>
				    <div class='col-sm-6 class'>
					HTML5 
                                        <p class='courseunit'>Part 1: HTML5 Coding Essentialsand Best Practices</p>
					<p class='courseunit'>Part 2: Advanced Techniques for Designing HTML5</p>
				    </div>
				    <div class='col-sm-6 institute'>
					W3Cx
				    </div>
				</div>


				<div class='row'>
				    <div class='col-sm-6 class'>
					Responsive Website Basics: Code with HTML, CSS, and JavaScript
				    </div>
				    <div class='col-sm-6 institute'>
					Coursera / University of London &amp; Goldsmiths, University of London
				    </div>
				</div>
				<div class='row'>
				    <div class='col-sm-6 class'>
					DEV208x: Introduction to jQuery
				    </div>
				    <div class='col-sm-6 institute'>
					Microsoft / EdX
				    </div>
				</div>
				<div class='row'>
				    <div class='col-sm-6 class'>
					DEV203x: Introduction to Bootstrap – a tutorial
				    </div>
				    <div class='col-sm-6 institute'>
					Microsoft / EdX
				    </div>
				</div>
				<div class='row'>
				    <div class='col-sm-6 class'>
					CloudIntro.x Introduction to Cloud Computing
				    </div>
				    <div class='col-sm-6 institute'>
					IEEEx
				    </div>
				</div>
				<div class='row'>
				    <div class='col-sm-6 class'>
					Pattern-Oriented Software Architectures: Programming Mobile Services for Android Handheld Systems
				    </div>
				    <div class='col-sm-6 institute'>
					Coursera / Vanderbilt University
				    </div>
				</div>
			    </div>
                        </div>
		    </div>


		     <div id='data' class='panel panel-default'>
                        <div class='panel-heading'>
			    <h4 class='panel-title'>
				<a data-toggle='collapse' 
				   data-parent='#ed-accordion' 
				   href='#datamoocs'>
				    Data Storage &amp; Retrieval, Data Analysis, Data Mining &amp; Big Data
				</a>
			    </h4>
			</div>
                        <div id='datamoocs' class='panel-collapse collapse'>
			    <div class='panel-body'>

				<div class='row'>
				    <div class='col-sm-6 class'>
					Introduction to Databases
				    </div>
				    <div class='col-sm-6 institute'>
					Stanford University
				    </div>
				</div>
				<div class='row'>
				    <div class='col-sm-6 class'>
					M101P: MongoDB for Developers
				    </div>
				    <div class='col-sm-6 institute'>
					Mongodb University
				    </div>
				</div>
				<div class='row'>
				    <div class='col-sm-6 class'>
					M101JS: MongoDB for Node.js Developers
				    </div>
				    <div class='col-sm-6 institute'>
					Mongodb University
				    </div>
				</div>
				<div class='row'>
				    <div class='col-sm-6 class'>
					Data Mining with Weka
				    </div>
				    <div class='col-sm-6 institute'>
					University of Waikato
				    </div>
				</div>
				<div class='row'>
				    <div class='col-sm-6 class'>
					ISE101X: Knowledge Management and Big Data in Business
				    </div>
				    <div class='col-sm-6 institute'>
					HKPolyUx
				    </div>
				</div>
				<div class='row'>
				    <div class='col-sm-6 class'>
					CS100.1x Introduction to Big Data with Apache Spark
				    </div>
				    <div class='col-sm-6 institute'>
					BerkeleyX
				    </div>
				</div>
				<div class='row'>
				    <div class='col-sm-6 class'>
					Pattern Discovery in Data Mining
				    </div>
				    <div class='col-sm-6 institute'>
					Coursera / University of Illinois at Urbana-Champaign
				    </div>
				</div>
				<div class='row'>
				    <div class='col-sm-6 class'>
					PH525: Data Analysis for Life Sciences
					<p class='courseunit'>1x: Statistics and R</p>
					<p class='courseunit'>2x: Introduction to Linear Models and Matrix Algebra</p>
				    </div>
				    <div class='col-sm-6 institute'>
					HarvardX
				    </div>
				</div>
				<div class='row'>
				    <div class='col-sm-6 class'>
					Process Mining: Data science in Action
				    </div>
				    <div class='col-sm-6 institute'>
					Coursera / Eindhoven University Of Technology
				    </div>
				</div>
				<div class='row'>
				    <div class='col-sm-6 class'>
					Mining Massive Datasets
				    </div>
				    <div class='col-sm-6 institute'>
					Coursera / Stanford
				    </div>
				</div>
				<div class='row'>
				    <div class='col-sm-6 class'>
					The Data Scientist’s Toolbox
				    </div>
				    <div class='col-sm-6 institute'>
					Coursera / Johns Hopkins University
				    </div>
				</div>
				<div class='row'>
				    <div class='col-sm-6 class'>
					MAS.S69x: Big Data and Social Physics
				    </div>
				    <div class='col-sm-6 institute'>
					MITx
				    </div>
				</div>
				<div class='row'>
				    <div class='col-sm-6 class'>
					Metadata: Organizing and Discovering Information
				    </div>
				    <div class='col-sm-6 institute'>
					Coursera / University Of North Carolina At Chapel Hill
				    </div>
				</div>
				<div class='row'>
				    <div class='col-sm-6 class'>
					Reproducible Research
				    </div>
				    <div class='col-sm-6 institute'>
					Coursera / Johns Hopkins University
				    </div>
				</div>		
				<div class='row'>
				    <div class='col-sm-6 class'>
					Statistics in Medicine
				    </div>
				    <div class='col-sm-6 institute'>
					Stanford Online
				    </div>
				</div>
				<div class='row'>
				    <div class='col-sm-6 class'>
					Case-Based Introduction to Biostatistics
				    </div>
				    <div class='col-sm-6 institute'>
					Coursera / Johns Hopkins University
				    </div>
				</div>
				<div class='row'>
				    <div class='col-sm-6 class'>
					Mathematical Biostatistics Boot Camp
				    </div>
				    <div class='col-sm-6 institute'>
					Coursera / Johns Hopkins University
				    </div>
				</div>
				<div class='row'>
				    <div class='col-sm-6 class'>
					Computing for Data Analysis
				    </div>
				    <div class='col-sm-6 institute'>
					Coursera / Johns Hopkins University
				    </div>
				</div>
				<div class='row'>
				    <div class='col-sm-6 class'>
					DAT208x Introduction to Python for Data Science
				    </div>
				    <div class='col-sm-6 institute'>
					Microsoft / EdX
				    </div>
				</div>
			    </div>
                        </div>
		    </div>


		     <div id='math' class='panel panel-default'>
                        <div class='panel-heading'>
			    <h4 class='panel-title'>
				<a data-toggle='collapse' 
				   data-parent='#ed-accordion' 
				   href='#mathmoocs'>
				    Mathematics &amp; Mathematical Modeling
				</a>
			    </h4>
			</div>
                        <div id='mathmoocs' class='panel-collapse collapse'>
			    <div class='panel-body'>

				<div class='row'>
				    <div class='col-sm-6 class'>
					Model thinking	
				    </div>
				    <div class='col-sm-6 institute'>
					Coursera / University Of Michigan – Ann Arbor
				    </div>
				</div>
				<div class='row'>
				    <div class='col-sm-6 class'>
					Modeling and Simulation using MATLAB
				    </div>
				    <div class='col-sm-6 institute'>
					Iversity / Jacobs University Bremen
				    </div>
				</div>
				<div class='row'>
				    <div class='col-sm-6 class'>
					Introduction to Complexity
				    </div>
				    <div class='col-sm-6 institute'>
					Santa Fe Institute
				    </div>
				</div>
				<div class='row'>
				    <div class='col-sm-6 class'>
					Introduction to Dynamical Systems and Chaos
				    </div>
				    <div class='col-sm-6 institute'>
					Santa Fe Institute
				    </div>
				</div>
				<div class='row'>
				    <div class='col-sm-6 class'>
					Games without Chance: Combinatorial Game Theory
				    </div>
				    <div class='col-sm-6 institute'>
					Coursera / Georgia Institute Of Technology
				    </div>
				</div>
				<div class='row'>
				    <div class='col-sm-6 class'>
					Game Theory I &amp; II
				    </div>
				    <div class='col-sm-6 institute'>
					Coursera / Stanford University
				    </div>
				</div>
				<div class='row'>
				    <div class='col-sm-6 class'>
					Probabilistic Graphical Models
				    </div>
				    <div class='col-sm-6 institute'>
					Coursera / Stanford
				    </div>
				</div>
				<div class='row'>
				    <div class='col-sm-6 class'>
					Markets with Frictions
				    </div>
				    <div class='col-sm-6 institute'>
					Coursera / University Of Wisconsin-Madison
				    </div>
				</div>
			    </div>
                        </div>
		    </div>



		     <div class='panel panel-default'>
                        <div class='panel-heading'>
			    <h4 class='panel-title'>
				<a data-toggle='collapse' 
				   data-parent='#ed-accordion' 
				   href='#aimoocs'>
				    Artificial Intelligence, Robotics &amp; Machine Learning
				</a>
			    </h4>
			</div>
                        <div id='aimoocs' class='panel-collapse collapse'>
			    <div class='panel-body'>

				<div class='row'>
				    <div class='col-sm-6 class'>
					Artificial Intelligence
				    </div>
				    <div class='col-sm-6 institute'>
					Stanford
				    </div>
				</div>
				<div class='row'>
				    <div class='col-sm-6 class'>
					CS188.1x: Artificial Intelligence
				    </div>
				    <div class='col-sm-6 institute'>
					BerkelyX
				    </div>
				</div>
				<div class='row'>
				    <div class='col-sm-6 class'>
					Machine Learning
				    </div>
				    <div class='col-sm-6 institute'>
					Coursera / Stanford
				    </div>
				</div>
				<div class='row'>
				    <div class='col-sm-6 class'>
					CS190.1x: Scalable Machine Learning
				    </div>
				    <div class='col-sm-6 institute'>
					BerkeleyX
				    </div>
				</div>
				<div class='row'>
				    <div class='col-sm-6 class'>
					Computer Vision:The Fundamentals
				    </div>
				    <div class='col-sm-6 institute'>
					Coursera / UC Berkely
				    </div>
				</div>
				<div class='row'>
				    <div class='col-sm-6 class'>
					Discrete Inference and Learning in Artificial Vision
				    </div>
				    <div class='col-sm-6 institute'>
					Coursera / École Centrale Paris
				    </div>
				</div>
				<div class='row'>
				    <div class='col-sm-6 class'>
					Artificial Intelligence Planning
				    </div>
				    <div class='col-sm-6 institute'>
					Coursera / The University Of Edinburgh
				    </div>
				</div>
				<div class='row'>
				    <div class='col-sm-6 class'>
					Control of Mobile Robots
				    </div>
				    <div class='col-sm-6 institute'>
					Coursera / Georgia Institute Of Technology
				    </div>
				</div>
				<div class='row'>
				    <div class='col-sm-6 class'>
					Mobile Robotics
				    </div>
				    <div class='col-sm-6 institute'>
					Open2study / Swinburne University Of Technology
				    </div>
				</div>
				<div class='row'>
				    <div class='col-sm-6 class'>
					Robotic Vision
				    </div>
				    <div class='col-sm-6 institute'>
					QUT
				    </div>
				</div>
			    </div>
                        </div>
		    </div>


		     <div class='panel panel-default'>
                        <div class='panel-heading'>
			    <h4 class='panel-title'>
				<a data-toggle='collapse' 
				   data-parent='#ed-accordion' 
				   href='#miscmoocs'>
				    Other Courses
				</a>
			    </h4>
			</div>
                        <div id='miscmoocs' class='panel-collapse collapse'>
			    <div class='panel-body'>

				<div class='row'>
				    <div class='col-sm-6 class'>
					Copyright for Educators &amp; Librarians
				    </div>
				    <div class='col-sm-6 institute'>
					Coursera / Duke University
				    </div>
				</div>
				<div class='row'>
				    <div class='col-sm-6 class'>
					Miracles of Human Language: An Introduction to Linguistics
				    </div>
				    <div class='col-sm-6 institute'>
					Coursera / Universiteit Leiden
				    </div>
				</div>
				<div class='row'>
				    <div class='col-sm-6 class'>
					Cryptography I
				    </div>
				    <div class='col-sm-6 institute'>
					Coursera / Stanford
				    </div>
				</div>
				<div class='row'>
				    <div class='col-sm-6 class'>
					Astrobiology and the Search for Extraterrestrial Life
				    </div>
				    <div class='col-sm-6 institute'>
					Coursera / The University Of Edinburgh
				    </div>
				</div>
				<div class='row'>
				    <div class='col-sm-6 class'>
					The Extremes of Life: Microbes and Their Diversity
				    </div>
				    <div class='col-sm-6 institute'>
					KyotoUx
				    </div>
				</div>
				<div class='row'>
				    <div class='col-sm-6 class'>
					Introduction to Forensic Science
				    </div>
				    <div class='col-sm-6 institute'>
					Coursera / Nanyang Technological University
				    </div>
				</div>		
				<div class='row'>
				    <div class='col-sm-6 class'>
					Disaster Preparedness
				    </div>
				    <div class='col-sm-6 institute'>
					Coursera / University Of Pittsburgh
				    </div>
				</div>
				<div class='row'>
				    <div class='col-sm-6 class'>
					4.605x: A Global History of Architecture: Part 1
				    </div>
				    <div class='col-sm-6 institute'>
					Mitx
				    </div>
				</div>
				<div class='row'>
				    <div class='col-sm-6 class'>
					Introduction to Communication Science
				    </div>
				    <div class='col-sm-6 institute'>
					Coursera / University Of Amsterdam
				    </div>
				</div>
				<div class='row'>
				    <div class='col-sm-6 class'>
					Experimentation for Improvement
				    </div>
				    <div class='col-sm-6 institute'>
					Coursera / McMaster University
				    </div>
				</div>
				<div class='row'>
				    <div class='col-sm-6 class'>
					Psychological First Aid
				    </div>
				    <div class='col-sm-6 institute'>
					Coursera / Johns Hopkins University
				    </div>
				</div>
				<div class='row'>
				    <div class='col-sm-6 class'>
					Unethical Decision Making in Organizations
				    </div>
				    <div class='col-sm-6 institute'>
					Coursera / University of Lausanne
				    </div>
				</div>
				<div class='row'>
				    <div class='col-sm-6 class'>
					Teaching with Moodle
				    </div>
				    <div class='col-sm-6 institute'>
					Moodle HQ
				    </div>
				</div>
			    </div>
                        </div>
		    </div>
		</div>

</section> <!-- Education tab -->


