<section id="education" class="tab-pane fade" >
	    <!-- div class="comtainer" -->
		<h2>Education</h2>
		<p>I was awarded a BA in Math &amp; Philosophy by SUNY Potsdam in 1984</p>
		<p>I studied Cognitive Neural Systems At Boston University in 1995, but did not
		complete the degree program.</p>
		<h3>Massive Open Online Classes (MOOCs)</h3>
	
		<div id="ed-accordion" class="panel-group">

		    {% assign tag = "med" %}
		    {% assign ptitle = "Health & Medicine" %}
		    {% include moocdsp.html %}

		    {% assign tag = "gene" %}
		    {% assign ptitle = "Molecular Biology, Genetics, & Bioinformatics" %}
		    {% include moocdsp.html %}

		    {% assign tag = "neuro" %}
		    {% assign ptitle = "Neuroscience & Cognitive Science" %}
		    {% include moocdsp.html %}

		    {% assign tag = "compsci" %}
		    {% assign ptitle = "Computer Science & Programming" %}
		    {% include moocdsp.html %}

		    {% assign tag = "se" %}
		    {% assign ptitle = "Software Engineering, Business Analysis & Project Management" %}
		    {% include moocdsp.html %}

		    {% assign tag = "wmc" %}
		    {% assign ptitle = "Web, Mobile, & Cloud Development" %}
		    {% include moocdsp.html %}

		    {% assign tag = "dat" %}
		    {% assign ptitle = "Data Storage & Retrieval, Data Analysis, Data Mining & Big Data" %}
		    {% include moocdsp.html %}

		    {% assign tag = "math" %}
		    {% assign ptitle = "Mathematics & Mathematical Modeling" %}
		    {% include moocdsp.html %}

		    {% assign tag = "ai" %}
		    {% assign ptitle = "Artificial Intelligence, Robotics & Machine Learning" %}
		    {% include moocdsp.html %}

		    {% assign tag = "msc" %}
		    {% assign ptitle = "Other Courses" %}
		    {% include moocdsp.html %}

		</div>

</section> <!-- Education tab -->


