<section id="employment" class="tab-pane fade">
    <h2>Employment History</h2>
    <div id="empacc" class="panel-group">
    {% assign emp_hist =  site.employment | sort: 'seq', 'last'   %}

    {% for x in emp_hist reversed  %}
	{% if topic == null or  x.tags contains topic %}

	<section id='emp_{{ x.abbreviation }}' 
                 class="panel panel-default p-experience">
	    <h3 class="panel-heading">
		<span class='ph panel-title'>
		    <a data-toggle="collapse"
		       data-parent="#empacc" 
		       href="#{{ x.abbreviation  }}_acc">
                       {% if x.employer %}
			<div class='row'>
			    <div class='col-sm-12  employer p-location'>
				{{ x.employer }}</div>
			</div>
                        {% endif %}
			{% for p in x.positions %}
			<div class='row'>
			    <div class='col-xs-6 emptitle p-name'>{{ p.position }}</div>
                            <!-- need to change to 'dt-start' [to 'dt-end'] -->
			    <div class='col-md-4 empdates_ text-right'>{{ p.dates }}</div>
                         
			</div>
		       {% endfor %}

		    </a>
		</span>
	    </h3>
	    <div id="{{ x.abbreviation  }}_acc" class="panel-collapse collapse">
		<div class='panel-body'>
		    <ul>
                        {% for n in x.points %}
			    {% if topic == null or n.tags contains topic %}
				<li>{{ n.point |  markdownify }}</li>
			    {% endif %}
                        {% endfor %}
		    </ul>
		</div>
	    </div>
	</section>

	{% endif %}
    {% endfor %}

    </div> <!-- end of accordion group -->
</section> <!-- Employment tab -->


