<section id="employment" class="tab-pane fade">
    <!-- div class="container" -->
    <h2>Employment History</h2>
    <div id="accordion" class="panel-group">

	<section id='ind' class="panel panel-default">
	    <h3 class="panel-heading">
		<span class='ph panel-title'>
		    <a data-toggle="collapse"
			       data-parent="#accordion" 
			       href="#indacc">
			<div class='row'>
			    <div class='col-xs-6 emptitle'>Independent Contractor</div>
			    <div class='col-xs-6 empdates_ text-right'>1998 - Present</div>
			</div>
		    </a>
		</span>
	    </h3>
	    <div id="indacc" class="panel-collapse collapse">
		<div class='panel-body'>
		    <ul>
			<li>Contracted to <strong>Sungard</strong> on distributed team developing a
				    web based front-end for a retirement plan management system for
				    <strong>TIAA-CREF</strong>.</li>
			<li>Maintained &amp; supported system to predict aircraft drive train component
				    failure based on vibrational analysis for <strong>B.F. Goodrich
				    Aerospace</strong>.</li>
			<li>Built data model for the joint srike fighter lift fan maintenance program
				    for <strong>B.F. Goodrich Aerospace</strong>.</li>
			<li>Developed web sites for publishers, real estate agents, musicians &
				    teachers.</li>
			<li>Developed multi platform installers for <strong>MeetingMaker</strong> &
				    <strong>RulesPower</strong>.</li>
			<li>Created, maintained &amp;` enhanced multi platform build system for
				    <strong>MeetingMaker</strong>.</li>
		    </ul>
		</div>
	    </div>
	</section>

		    <section id='geo' class="panel panel-default">
			<h3 class="panel-heading">
			    <span class='ph panel-title'>
				<a data-toggle="collapse"
				   data-parent="#accordion" 
				   href="#geoacc">
				   <div class='row'>
					<div class='col-md-4 col-sm-12 col-md-push-4 employer'>Geo-Centers, Inc.</div>
					<div class='col-md-4 col-xs-6  col-md-pull-4 emptitle'>Senior Software Engineer</div>
					<div class='col-md-4 col-xs-6 empdates_ text-right'>1997 - 1998</div>
				   </div>
				   <div class='row'>
				      <div class='col-xs-6 emptitle'>Contract Programmer</div>
				      <div class='col-xs-6 empdates_ text-right'>1995 - 1996</div>
				   </div>
				</a>
			    </span>
			</h3>
			<div id="geoacc" class="panel-collapse collapse">
			    <div class='row panel-body'>
				<ul>
				    <li>Developed vehicle mounted multi sensor land mine detector.</li>
				    <li>Redesigned embedded real time backpack magnetometer software to improve
					GPS.</li>
				    <li>Designed proposed international standard file format for ground
					penetrating focused array radar data.</li>
				</ul>
			    </div>
		       </div>
		    </section>
		    <section id='adp' class="panel panel-default">
			<h3 class="panel-heading">
			    <span class='ph panel-title'>
				<a  data-toggle="collapse"
				    data-parent="#accordion" 
				    href="#adpacc">
				    <div class='row'>
					<div class='col-md-4 col-sm-12 col-md-push-4 employer'>
					    ADP Financial Services</div>
					<div class='col-md-4 col-xs-6  col-md-pull-4 emptitle'>
					    Senior Programmer</div>
					<div class='col-md-4 col-xs-6 empdates_ text-right'>
					    1996 - 1997</div>
				    </div>
				</a>
			    </span>
			</h3>
			<div id="adpacc" class="panel-collapse collapse">
			    <div class='row panel-body'>
				<ul>
				    <li>Internationalized the FORTÉ for Windows electronic banking system.</li>
				</ul>
			    </div>
			</div>
		    </section>
		    <section class='panel panel-default' id='eps'>
			<h3 class="panel-heading">
			    <span class='ph panel-title'>
				<a data-toggle="collapse"
				    data-parent="#accordion" 
				    href="#epsacc">
				    <div class='row'>
					<div class='col-md-4 col-sm-12 col-md-push-4 employer'>
					    Epsilon
					</div>
					<div class='col-md-4 col-xs-6  col-md-pull-4 emptitle'>
					    Software Engineer
					</div>
					<div class='col-md-4 col-xs-6 empdates_ text-right'>
					    1994 - 1995
					</div>
				    </div>
				</a>
			    </span>
			</h3>
			<div id="epsacc" class="panel-collapse collapse">
			    <div class='row panel-body'>
				<ul>
				    <li>Analysis, design, &amp; programming a petabyte massively parallel data mining
					decision support system running on a Thinking Machines CM-5 supercomputer and
					a network of Suns.</li>
				</ul>
			    </div>
			</div>
		    </section>
		    <section class='panel panel-default' id='fema'>
			<h3 class="panel-heading">
			    <span class='ph panel-title'>
				<a data-toggle="collapse"
				    data-parent="#accordion" 
				    href="#femaacc">
				    <div class='row'>
					<div class='col-md-4 col-sm-12 col-md-push-4 employer'>
					    Federal Emergency Management Agency
					</div>
					<div class='col-md-4 col-xs-6  col-md-pull-4 emptitle'>
					    Systems Analyst
					</div>
					<div class='col-md-4 col-xs-6 empdates_ text-right'>
                                            1994
					</div>
				    </div>
				    <div class='row'>
				      <div class='col-xs-6 emptitle'>Data Modeler</div>
				      <div class='col-xs-6 empdates_ text-right'>1993</div>
				   </div>
				</a>
			    </span>
			</h3>
			<div id="femaacc" class="panel-collapse collapse">
			    <div class='row panel-body'>
				<ul>
				    <li>Wrote requirements for FEMA’s financial accounting system.</li>
				</ul>
			    </div>
			</div>
		    </section>
		    <section class='panel panel-default' id='sec'>
			<h3 class="panel-heading">
			    <span class='ph panel-title'>
				<a data-toggle="collapse"
				    data-parent="#accordion" 
				    href="#secacc">
				    <div class='row'>
					<div class='col-md-4 col-sm-12 col-md-push-4 employer'>
					    Security &amp; Exchange Commission(SEC)
					</div>
					<div class='col-md-4 col-xs-6  col-md-pull-4 emptitle'>
					    Contract Programmer
					</div>
					<div class='col-md-4 col-xs-6 empdates_ text-right'>
                                            1992 - 1994
					</div>
				    </div>
				</a>
			    </span>
			</h3>
			<div id="secacc" class="panel-collapse collapse">
			    <div class='row panel-body'>
				<ul>
				    <li>Led three man EDGARLink development
					team for the Electronic Data Gathering Analysis and Retrieval (EDGAR)
					Project. EDGARLink created and validated SGML documents. The EDGAR project
					followed strict software engineering procedures and met a ridged, to the
					second, schedule.
				    </li>
				    <li>Prepared &amp; presented technical briefings for the steering committee.
				    </li>
				</ul>
			    </div>
			</div>
		    </section>
		    <section class='panel panel-default' id='comsat'>
			<h3 class="panel-heading">
			    <span class='ph panel-title'>
				<a data-toggle="collapse"
				    data-parent="#accordion" 
				    href="#comsatacc">
				    <div class='row'>
					<div class='col-md-4 col-sm-12 col-md-push-4 employer'>
					    ComSat
					</div>
					<div class='col-md-4 col-xs-6  col-md-pull-4 emptitle'>
					    Contract Programmer
					</div>
					<div class='col-md-4 col-xs-6 empdates_ text-right'>
                                            1992
					</div>
				    </div>
				</a>
			    </span>
			</h3>
			<div id="comsatacc" class="panel-collapse collapse">
			    <div class='row panel-body'>
				<ul>
				    <li>Developed satellite based
					communication &amp; location tracking systems for ships and mountaineering expeditions.
				    </li>
				</ul>
			    </div>
			</div>
		    </section>
		    <section class='panel panel-default' id='meta'>
			<h3 class="panel-heading">
			    <span class='ph panel-title'>
				<a data-toggle="collapse"
				    data-parent="#accordion" 
				    href="#metaacc">
				    <div class='row'>
					<div class='col-md-4 col-sm-12 col-md-push-4 employer'>
					    META
					</div>
					<div class='col-md-4 col-xs-6  col-md-pull-4 emptitle'>
					    Systems Analyst
					</div>
					<div class='col-md-4 col-xs-6 empdates_ text-right'>
                                            1991 - 1992
					</div>
				    </div>
				</a>
			    </span>
			</h3>
			<div id="metaacc" class="panel-collapse collapse">
			    <div class='row panel-body'>
				<ul>
                                    <li>Member of a business analysis team.
					Provided data modeling expertise and technical support.
				    <li>Designed &amp; developed time and billing system for U.S. Marshal’s Service.
				    </li>
				    <li>Designed &amp; developed bar code based accountable property management system for the  Department of Energy (DOE).
				    </li>
				</ul>
			    </div>
			</div>
		    </section>
		    <section class='panel panel-default' id='iesc'>
			<h3 class="panel-heading">
			    <span class='ph panel-title'>
				<a data-toggle="collapse"
				    data-parent="#accordion" 
				    href="#iescacc">
				    <div class='row'>
					<div class='col-md-4 col-sm-12 col-md-push-4 employer'>
					    Information Engineering Systems Corp. (IESC)
					</div>
					<div class='col-md-4 col-xs-6  col-md-pull-4 emptitle'>
					    R &amp; D Programmer
					</div>
					<div class='col-md-4 col-xs-6 empdates_ text-right'>
                                            1989 - 1991
					</div>
				    </div>
				</a>
			    </span>
			</h3>
			<div id="iescacc" class="panel-collapse collapse">
			    <div class='row panel-body'>
				<ul>
				    <li>Designed, developed &amp; supported
					Computer Assisted Software Engineering tool.
				    </li>
				</ul>
			    </div>
			</div>
		    </section>
		    <section class='panel panel-default' id='tai'>
			<h3 class="panel-heading">
			    <span class='ph panel-title'>
				<a data-toggle="collapse"
				    data-parent="#accordion" 
				    href="#taiacc">
				    <div class='row'>
					<div class='col-md-4 col-sm-12 col-md-push-4 employer'>
					    Technology Applications Inc.
					</div>
					<div class='col-md-4 col-xs-6  col-md-pull-4 emptitle'>
					    Programmer Associate
					</div>
					<div class='col-md-4 col-xs-6 empdates_ text-right'>
                                            1988 - 1989
					</div>
				    </div>
				</a>
			    </span>
			</h3>
			<div id="taiacc" class="panel-collapse collapse">
			    <div class='row panel-body'>
				<ul>
				    <li>Deployed, maintained and provided
					support &amp; training for the Army’s Occupational Health Management Information
					System (OHMIS).
				    </li>
				</ul>
			    </div>
			</div>
		    </section>
		    <section class='panel panel-default' id='csl'>
			<h3 class="panel-heading">
			    <span class='ph panel-title'>
				<a data-toggle="collapse"
				    data-parent="#accordion" 
				    href="#cslacc">
				    <div class='row'>
					<div class='col-md-4 col-sm-12 col-md-push-4 employer'>
					    Cedar Systems Limited (CSL)
					</div>
					<div class='col-md-4 col-xs-6  col-md-pull-4 emptitle'>
					    R &amp; D Programmer
					</div>
					<div class='col-md-4 col-xs-6 empdates_ text-right'>
                                            1985 - 1988
					</div>
				    </div>
				</a>
			    </span>
			</h3>
			<div id="cslacc" class="panel-collapse collapse">
			    <div class='row panel-body'>
				<ul>
				    <li>Maintained, ported &amp; enhanced Pharmacokinetic modeling system.</li>
				    <li>Developed prototype expert system for emergency room triage.</li>
				</ul>
			    </div>
			</div>
		    </section>
		    <section class='panel panel-default' id='mich'>
			<h3 class="panel-heading">
			    <span class='ph panel-title'>
				<a data-toggle="collapse"
				    data-parent="#accordion" 
				    href="#michacc">
				    <div class='row'>
					<div class='col-md-4 col-sm-12 col-md-push-4 employer'>
					    The Michie Company
					</div>
					<div class='col-md-4 col-xs-6  col-md-pull-4 emptitle'>
					    Tape librarian
					</div>
					<div class='col-md-4 col-xs-6 empdates_ text-right'>
                                            1985
					</div>
				    </div>
				</a>
			    </span>
			</h3>
			<div id="michacc" class="panel-collapse collapse">
			    <div class='row panel-body'>
				<ul>
				    <li>Maintained tape library of legal statutes for several states.</li>
				</ul>
			    </div>
			</div>
		    </section>

		</div> <!-- end of accordion group -->

	    <!-- /div>< ! - - Employment tab contaner -->
</section> <!-- Employment tab -->


