<section id="education" class="tab-pane fade" >
    <h2>Education</h2>
    <p>I was awarded a BA in Math &amp; Philosophy by SUNY Potsdam</p>
    <!-- p>I studied Cognitive Neural Systems At Boston University in 1995, but did not
	complete the degree program.</p -->
    <h3>Massive Open Online Classes (MOOCs)</h3>
    <div id="ed-accordion" class="panel-group">
	{% for y in edc %}
	    {% assign tag = y.tag %}
	    {% assign ptitle = y.title %}
	    {% include moocdsp.html %}
	{% endfor %}
    </div>
</section> <!-- Education tab -->


