<section id="qualfications" class="tab-pane fade in active p-summary" >
    <h2>Qualifications</h2>

    <!--blockquote>
	<p>A fox knows many things, but a hedgehog one important thing.</p>
	<footer>Archilochus</footer>
    </blockquote>
    <p>
    I am a fox, not a hedgehog. 
    I have experience in many different problem domains and many different
    solution spaces and know that there is seldom a one size fits all solution.
    </p -->
    {% for c in qualdata %}
	<h3>{{ c.header }}</h3>
	{{ c.content | markdownify }}
    {% endfor %}

</section>
