<section id="qualfications" class="tab-pane fade in active">
    <h2>Qualifications</h2>

    <h3>Pharmacokinetic Modeling and Clinical Decision Support System</h3>
    <p>Rewrote &amp; enhanced a pharmacokinetic modeling system at 
CSL. Assisted
pharmacologists building pharmacokinetic models for treatment, research, and
forensics. On at least two occasions my models were instrumental in saving
lives. Created models for expert witness testimony in drunk driving cases.
    </p>
    <h3>Electronic Health Records</h3>
    <p>Provided deployment, maintenance, support &amp; training for the US Army’s
Occupational Health Management Information System (OHMIS) that collected
electronic medical records and environmental heath exposure data world wide
and consolidated it to a central data repository.
    </p>
    <h3>Requirements Analysis</h3>
    <p>Wrote requirements specification for FEMA's accounting system. Facilitated
meetings of diverse stake holders, interviewed users, and searched legal
documents to collect functional, work flow, &amp; regulatory requirements and
build a data model.
    </p>
    <h3>Data Modeling</h3>
    <p>Developed &amp; supported an enterprise data modeling tool and developed
teaching materials for data modeling training seminars at IESC.
    </p>
    <p>Built data model to capture operational, performance, &amp; vibration data
to predict component failure &amp; optimize maintenance schedule for Sikorsky's
lift fan used in Boeing's joint strike fighter proposal while at B.F.
Goodrich.
    </p>
    <p>Designed Geo-Centers' proposed international standard file format for
interchange of ground penetrating focused array radar data. Each group used a
proprietary format that implicitly assumed the unique array geometry and
timing sequences of their system. It was necessary to develop a format which
could explicitly encode any possible geometric and timing configuration.
    </p>
    <h3>Web Based Interface To Legacy System</h3> 
    <p>Developed a web based interface to a legacy retirement plan management
system for TIAA-CREF. The system walked the user through a dynamic guided
interview process that adapted to accommodate the answers given. The data was
checked for inconstancies, and a virtual card deck was created and sent to
the legacy system.
    </p>
    <h3>Expert Systems</h3>
    <p>Created expert systems to automate emergency room triage for CLS, evaluate
data models for IESC, and guide web based interviews for TIAA-CREF.
    </p>
    <h3>Image Analysis & Feature Detection</h3>
    <p>Responsible for hardware &amp; software design for and coding of the
infrared subsystem of Geo-Centers' vehicle mounted multi-sensor land mine
detector. Used statistical analysis, fuzzy logic, & digital signal processing
to analyze 3 dimensional radar data, 2 dimensional IR images, and 1
dimensional magnetometer data to identify and locate land mines. Developed
algorithm that greatly improved the resolution from course grained
magnetometer data. Geo-centers considered migrating the technology for tumor
detection, but decided not to enter the medical field.
    </p>

</section>
