<header>
   <div class="jumbotron">
     <div class='row vertical-align'>
       <div class='col-sm-4 text-left vtop'>
	   <h1 class='name'>Ed Keith</h1>
       </div><!--
       --><div class='col-sm-8 text-right vbottom'>
	   <p class='tagline'>
Prepared to apply software development skills
towards solving healthcare and medical problems.</p>
       </div>
     </div>
    </div>
    <nav>
      <h2 class='offscreen'>nav tabs</h2>
      <ul class="nav nav-tabs nav-justified">
	  <li><a data-toggle="tab" href="#objectives">Objective</a></li>
	  <li class="active"><a data-toggle="tab" href="#qualfications">Qualfications</a></li>
	  <li class="dropdown" >
            <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                History<span class="caret"></span>
            </a>
	    <ul class="dropdown-menu">
	      <li><a data-toggle="tab"  href="#biography">Biography</a></li>
	      <li><a data-toggle="tab" href="#employment">Employment</a></li>
	      <li><a data-toggle="tab" href="#education">Education</a></li>
            </ul>
          </li>
	  <li><a data-toggle="tab" href="#contact">Contact</a></li>
	  <li class="dropdown" >
            <a class="dropdown-toggle" data-toggle="dropdown" href="#">
               Keywords<span class="caret"></span>
            </a>
	    <ul class="dropdown-menu">
	      <li><a data-toggle="tab" href="#languages">Languages</a></li>
	      <li><a data-toggle="tab" href="#platforms">Platforms</a></li>
	      <!-- li><a data-toggle="tab" href="#technologies">
		    Technologies &amp; Concepts</a></li --> 
	    </ul>
	  </li>
      </ul>
    </nav>
</header>
