<section id="languages" class="tab-pane fade">
    <h2>Languages</h2>
    <p>I wrote this <a 
		href='http://edkeith.blogspot.com/2007/01/programming-languages.html'
                target="_blank" >
		blog post</a> about the programming languages I had used as of 2007. All
		experiences detailed there are still true (except that my opinion of
		Java has improved). Here is an updated synopsis of my
		experience with less commentary about the languages themselves.
    </p>
    <div id="lang-accordion" class="panel-group">

	<section id='ccpp' class='panel panel-default'>
	    <div class='panel-heading'>
		<h3 class='panel-title'>
		    <a data-toggle='collapse' 
			       data-parent='#lang-accordion' 
			       href='#ccpp-acc'>
				C &amp; C++
			    </a>
		</h3>
	    </div>
	    <div id='ccpp-acc' class='panel-collapse collapse'>
		<div class='panel-body'>
		    <p>C and C++ are very different languages, but my
experiences with the two are interlocked.</p>
		    <p>I first used C At CSL in 1985, when I ported the
				pharmacokinetics modeling tool from Pascal to C.
                                Five years later IESC brought in a tutor to
teach the programming team C++. In the end it was decided that the C++ tools
available at that time were not up to the job, but we did use object-oriented
design principals despite the fact we implemented the system in C. I started
using C++ for my own programs at that time.
		    </p>
		    <p>I fist used C++ commercially for ComSat. Where
				wrote object-oriented C++. The at the SEC I
used C++ as a type safe C, writing code that was required to compile cleaning
as either C or C++.</p>
<p>At Epsilon and Geo-Centers I wrote everything in C++. The web service I
developed for Sungard was also written in C++, using a proprietary web
framework developed in house.</p>
		</div>
	    </div>
	</section>

	<section id='python' class='panel panel-default'>
	    <div class='panel-heading'>
		<h4 class='panel-title'>
			    <a data-toggle='collapse' 
			       data-parent='#lang-accordion' 
			       href='#py-acc'>
				Python
			    </a>
		</h4>
	    </div>
	    <div id='py-acc' class='panel-collapse collapse'>
			<div class='panel-body'>
                        <p>Python is still my goto language for most tasks. It
is very easy to use and has lots of good libraries and frameworks.</p>
			</div>
		    </div>
		</section>

		<section id='java' class='panel panel-default'>
		    <div class='panel-heading'>
			<h4 class='panel-title'>
			    <a data-toggle='collapse' 
			       data-parent='#lang-accordion' 
			       href='#java-acc'>
				Java
			    </a>
			</h4>
		    </div>
		    <div id='java-acc' class='panel-collapse collapse'>
			<div class='panel-body'>
                            <p>For years I avoided Java, seeing it as a
crippled dialect of C++, and only used it when required to do so (most
notably by MeetingMaker &amp; RulesPower). Since I
have been using it on my own to develop Android apps I have started to
appreciated it as a language in it's own right with its own strengths and
weaknesses. While it is true that Java is not C++, I now see that C++ is not
Java. While there are many tasks for which C++ is better suited than Java,
there are others for which Java is better suited.</p>
			</div>
		    </div>
		</section>


		<section id='js-lang' class='panel panel-default'>
		    <div class='panel-heading'>
			<h4 class='panel-title'>
			    <a data-toggle='collapse' 
			       data-parent='#lang-accordion' 
			       href='#js-acc'>
				JavaScript
			    </a>
			</h4>
		    </div>
		    <div id='js-acc' class='panel-collapse collapse'>
			<div class='panel-body'>
                           <p>JavaScript is the rare language that the more I
				use it the more I like it. The only reason
node.js has not replaced Python as my goto languages it that Python has
good libraries
that do what I need, this is less true of JavaScript.</p>
			</div>
		    </div>
		</section>


		<section id='r-lang' class='panel panel-default'>
		    <div class='panel-heading'>
			<h4 class='panel-title'>
			    <a data-toggle='collapse' 
			       data-parent='#lang-accordion' 
			       href='#rlang-acc'>
				R
			    </a>
			</h4>
		    </div>
		    <div id='rlang-acc' class='panel-collapse collapse'>
			<div class='panel-body'>
                           <p>I had started to play with R in 2007, but in
the last five years have
been using it quite a bit for several of the MOOCs I have been taking.</p> 
			</div>
		    </div>
		</section>



		<section id='matlab-lang' class='panel panel-default'>
		    <div class='panel-heading'>
			<h4 class='panel-title'>
			    <a data-toggle='collapse' 
			       data-parent='#lang-accordion' 
			       href='#matlab-acc'>
				MatLab / Octave
			    </a>
			</h4>
		    </div>
		    <div id='matlab-acc' class='panel-collapse collapse'>
			<div class='panel-body'>
                           <p>I used Matlab for exploratory data analysis at
Geo-Centers and G.F. Goodrich Aerospace. More recently I have used both
Matlab and Octave, a GNU clone, for several MOOCs.</p> 
			</div>
		    </div>
		</section>


		<!-- div id='cs-lang' class='panel panel-default' >
		    <div class='panel-heading'>
			<h4 class='panel-title'>
			    <a data-toggle='collapse' 
			       data-parent='#lang-accordion' 
			       href='#cs-acc'>
				C#
			    </a>
			</h4>
		    </div>
		    <div id='cs-acc' class='panel-collapse collapse'>
			<div class='panel-body'>
                           <p>put content here
			</div>
		    </div>
		</div -->


		<!-- div id='oc-lang' class='panel panel-default'>
		    <div class='panel-heading'>
			<h4 class='panel-title'>
			    <a data-toggle='collapse' 
			       data-parent='#lang-accordion' 
			       href='#oc-acc'>
				Objective C
			    </a>
			</h4>
		    </div>
		    <div id='oc-acc' class='panel-collapse collapse'>
			<div class='panel-body'>
                           <p>put content here
			</div>
		    </div>
		</div -->


		<section id='scala-lang' class='panel panel-default'>
		    <div class='panel-heading'>
			<h4 class='panel-title'>
			    <a data-toggle='collapse' 
			       data-parent='#lang-accordion' 
			       href='#scala-acc'>
				Scala
			    </a>
			</h4>
		    </div>
		    <div id='scala-acc' class='panel-collapse collapse'>
			<div class='panel-body'>
                           <p>I had played a little with Scala before I took
Coursera's Functional Programming Principles in Scala with Martin Odersky,
the designer of the language. I really like it, but have not done a lot with
it yet.</p>
			</div>
		    </div>
		</section>

		<section id='lisp-lang' class='panel panel-default'>
		    <div class='panel-heading'>
			<h4 class='panel-title'>
			    <a data-toggle='collapse' 
			       data-parent='#lang-accordion' 
			       href='#lisp-acc'>
				Lisp
			    </a>
			</h4>
		    </div>
		    <div id='lisp-acc' class='panel-collapse collapse'>
			<div class='panel-body'>
                           <p>
I have used Lisp off an on since the early 1980's. I have used many different
dialects including Scheme, Common Lisp, and Clojure but recently I have
mostly been using Racket.
			    </p>
			</div>
		    </div>
		</section>


		<section id='rb-lang' class='panel panel-default'>
		    <div class='panel-heading'>
			<h4 class='panel-title'>
			    <a data-toggle='collapse' 
			       data-parent='#lang-accordion' 
			       href='#rb-acc'>
				Ruby
			    </a>
			</h4>
		    </div>
		    <div id='rb-acc' class='panel-collapse collapse'>
			<div class='panel-body'>
                           <p>I have used Ruby for several MOOCs. I like it,
even though it follows Perl's, "There is more than one way to do it,"
philosophy, and I
prefer Pythons, "there is one obvious way to do it." Unfortunately I have not
found good math and science libraries for Ruby.</p>
			</div>
		    </div>
		</section>


		<section id='pro-lang' class='panel panel-default'>
		    <div class='panel-heading'>
			<h4 class='panel-title'>
			    <a data-toggle='collapse' 
			       data-parent='#lang-accordion' 
			       href='#pro-acc'>
				Prolog
			    </a>
			</h4>
		    </div>
		    <div id='pro-acc' class='panel-collapse collapse'>
			<div class='panel-body'>
                           <p>I used Prolog at Ceder Systems and at
Information Engineering Systems. It is not so much a language as a way of
thinking about the problem.</p>
			</div>
		    </div>
		</section>


		<section id='j-lang' class='panel panel-default'>
		    <div class='panel-heading'>
			<h4 class='panel-title'>
			    <a data-toggle='collapse' 
			       data-parent='#lang-accordion' 
			       href='#jlang-acc'>
				J
			    </a>
			</h4>
		    </div>
		    <div id='jlang-acc' class='panel-collapse collapse'>
			<div class='panel-body'>
                           <p>While I have dabbled with J for many years,
until recently I have not taken the deep dive it deserves. Now I am diving
deep because I am using it on my Android.</p>
			</div>
		    </div>
		</section>

		<section id='misc-lang' class='panel panel-default'>
		    <div class='panel-heading'>
			<h4 class='panel-title'>
			    <a data-toggle='collapse' 
			       data-parent='#lang-accordion' 
			       href='#misclang-acc'>
				Other Languages
			    </a>
			</h4>
		    </div>
		    <div id='misclang-acc' class='panel-collapse collapse'>
			<div class='panel-body'>
                           <p>Assembler was my first programming language. I have used many other languages including
Pascal, PL/1, BASIC, FORTRAN, COBOL, Haskell, ML, Oz, Php, Icon, Ada,
Mathmatica, Forth, and Rexx.
			</div>
		    </div>
		</section>



	    </div>

	</section>
