<section id="platforms" class="tab-pane fade">
    <h2>Platforms</h2>

    <h3>Traditional Platforms</h3>

    <p>I have programmed on CP/M. UCSD-pSystem, MS-DOS, SCO Unix, AIX, BSD, Linux,
	Microsoft's Windows, IBM's OS/2 and Mac OS X as well as a Thinking
        Machines CM5 Super computer.</p>

    <h3>Web</h3>

    <p>I created my first web site for a small martial arts book publisher in
1995. </p>

    <h3>Mobile</h3>

    <p>I developed some simple Android Apps and am studying iOS.</p>

    <h3>Cloud</h3>

    <p>I have been studying the generic issues for any cloud based
development, Apache Spark, AWS, Azure and Google Cloud Platform.</p>

</section>

